.header {
    border: thick double #202020;
    padding: 1cm;
    background-color: #a3a3a3;
    background-repeat: repeat-x;
    text-align: center;
    font-style: italic;
    font-size: x-large;
    color: #FFFFFF;
}

#page {
    background-color: #B0CED0;
}

body {
    background-color: #B0CED0;
}

.midpage {
    overflow: auto;
}

.menu {
    border: thick double #202020;
    background-color: #a3a3a3;
    text-align: center;
    float:left;
}

.content {
    padding-left: 20px;
    float:left;
}

.footer {
    border: thick double #202020;
    padding: 15px;
    background-color: #a3a3a3;
    background-repeat: repeat-x;
    text-align: center;
    color: #FFFFFF;
}
